header{
    background-color:#C4C4C4;

    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
}
#star1{
    height:150px;
    width:150px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    color:red;
    position:relative;
}
 #star2{
     position:relative;
     height:100px;
     width:100px;
     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
     color:black;
 }